---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
const tags =  posts.flatMap(post => post.data.tags).filter((tag, index, self) => self.indexOf(tag) === index);
---

<!doctype html>
<html lang="en" class="min-h-dvh">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full flex flex-col mx-auto max-w-screen-md min-h-dvh justify-between dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300">
    <Header />
    <main
      class="w-full max-w-screen-md mx-auto my-4 flex flex-col gap-4 justify-center px-4"
    >

     
           
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
  "symbols": [
    {
      "proName": "COINBASE:BTCUSD",
      "title": ""
    },
    {
      "proName": "BINANCE:ETHUSDT",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:XRP",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:USDT",
      "title": ""
    },
    {
      "proName": "BINANCE:BNBUSD",
      "title": ""
    },
    {
      "proName": "TRADENATION:SOLANA",
      "title": ""
    },
    {
      "proName": "TRADENATION:TRONUSD",
      "title": ""
    },
    {
      "proName": "COINBASE:ADAUSD",
      "title": ""
    },
    {
      "proName": "CRYPTOCAP:AVAX",
      "title": ""
    },
    {
      "proName": "TVC:DXY",
      "title": ""
    }
  ],
  "colorTheme": "dark",
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": false,
  "showSymbolLogo": true,
  "displayMode": "adaptive"
}
  </script>
</div>
<!-- TradingView Widget END -->
     
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/crypto-coins-screener/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
  {
  "defaultColumn": "overview",
  "screener_type": "crypto_mkt",
  "displayCurrency": "USD",
  "colorTheme": "dark",
  "isTransparent": false,
  "locale": "en",
  "width": "100%",
  "height": 550
}
  </script>
</div>
<!-- TradingView Widget END -->
      
     
    </main>
    <Footer />
  </body>
</html>
