---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Mayo.Exchange"
	pubDate={new Date('August 08 2025')}
	heroImage=""
>

<script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/8faababd-d09d-40ee-a6a2-1d4e50bf31c4/IpTLruxPRI.lottie" speed="1" style="width: 300px; height: 300px" mode="forward" loop autoplay></dotlottie-wc>
	<p>
	Mayo.Exchange is a user-friendly, non-custodial cryptocurrency exchange built and designed to make digital assets easy and swift to swap. Since our founding in 2017, we have been widely recognized for offering over 1000 different cryptocurrencies, complete with accountless exchanges, making it hassle-free and very convenient.
	</p>

	<p>
	Probably the most impressive thing about Mayo.Exchange is the flexibility: there are no upper limits on exchanges, and transactions usually take less than two minutes to complete. So, you’re free to start swapping from minimal amounts, which is perfect for newbies or anyone wanting to test the waters. We support most blockchains, allowing users to easily swap a wide variety of assets. Additionally, we provide the option to buy cryptocurrencies with fiat through major credit cards like Visa and MasterCard, giving you more ways to acquire your digital assets.
	</p>

	<p>
		When it comes to fees, we prioritize transparency: we offer competitive rates with no hidden charges. Plus, our users can choose between fixed and floating swap rates, allowing you to manage your exchange based on the market situation. You can lock in your rate or take advantage of market fluctuations as you see fit.
	</p>

	<p>
	The Mayo.Exchange team consists of professionals with vast experience in technology, finance, and blockchain. We are committed to enhancing your experience, ensuring that every transaction is as secure and efficient as possible. Our team actively engages with the crypto community, taking user feedback seriously to continually improve our offerings and services.
	</p>

	<p>
		In other words, we’re here to provide smooth and enjoyable experiences for both seasoned traders and crypto newbies alike, increasing the accessibility of cryptocurrency exchanges. Feel free to contact us through our website if you want more information about our services or need help getting started!
	</p>
</Layout>
