---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import RecentPublications from "../components/RecentPublications.astro";
---

<!doctype html>
<html lang="en">

 <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

<body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >

<Header />

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=68b334636bd80d4bd2a04b5c&product=sop' async='async'></script>

     
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-5xl w-full">🧑‍🚀 Mayo.Exchange!</h1>
         <Fragment slot="title">
     <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
    </Fragment>
         <Fragment slot="subtitle">
 <iframe id='iframe-widget' src='https://changenow.io/embeds/exchange-widget/v2/widget.html?FAQ=true&amount=0.1&amountFiat=1500&backgroundColor=231e1b&darkMode=true&from=btc&fromFiat=eur&horizontal=false&isFiat&lang=en-US&link_id=537f0c2ee20bbe&locales=true&logo=false&primaryColor=00C26F&to=eth&toFiat=eth&toTheMoon=true' style="height: 410px; width: 100%; border: none"></iframe>
    <script defer type='text/javascript' src='https://changenow.io/embeds/exchange-widget/v2/stepper-connector.js'></script>
    </Fragment>
        <p class="w-full text-justify text-base md:text-lg">
         Limitless Web3.0 Crypto Exchange
Buy, sell, Swap Crypto: Fast, Secure,
Trusted Since 2017
        </p>
      </div>
   
 
   
      </div>
	  <RecentPublications />
	      </main>
    <Footer />


  </body>
 
</html>

